<div class="page no-toolbar" data-name="log" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Catatan</div>
      <div class="right">
        <a href="#" class="link" data-label="btn-submit">
          <i class="icon material-icons md-only">send</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <form data-label="form">
      <div class="list no-hairlines-md">
        <ul>
          <li class="item-content item-input padding-bottom">
            <div class="item-inner">
              <div class="item-title item-label">Catatan</div>
              <div class="item-input-wrap">
                <textarea name="input-keterangan"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block-header">Lampiran</div>
      <div class="list">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title" style="font-style: italic">
                  <span data-label="text-attachment-count" style="font-weight: bold;">0</span>&nbsp;LAMPIRAN DIMUAT
                </div>
                <div class="item-after">
                  <a href="#" class="link" data-label="btn-delete-attachment"><i class="far fa-times-circle"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li data-label="list-attachment">
            <input type="file" accept="image/*,video/*" name="file[]" data-label="input-file-blueprint" style="display: none" disabled />
          </li>
        </ul>
      </div>
      <div class="block">
        <a href="#" data-label="btn-file-upload" class="button button-raised button-round button-fill"><i class="far fa-plus-circle"></i>&nbsp;TAMBAH LAMPIRAN</a>
      </div>
    </form>
  </div>
</div>
