<div class="page no-navbar no-toolbar no-swipeback" data-name="login">
  <div class="page-content login-screen-content">
    <div class="login-screen-title"><img src="img/logo.png" width="44px" /><br />SAPA HASBIE</div>
    <div class="block" style="text-align: center"><b>S</b>istem <b>A</b>dministrasi <b>P</b>elaporan dan <b>A</b>duan yang <b>H</b>umanis, <b>A</b>spiratif, <b>S</b>imple, <b>B</b>erkelanjutan, <b>I</b>novatif dan <b>E</b>dukatif</div>
    <form>
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">No. Handphone / ID Akun</div>
              <div class="item-input-wrap">
                <input type="text" name="username" placeholder="08xxxxxxxxxx" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" placeholder="*****" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block">
        <p class="row">
          <button type="button" class="col button button-raised button-round button-fill button-login">LOGIN</button>
        </p>
        <p class="row">
          <a href="/" class="col button button-raised button-round button-outline" data-force="true" data-ignore-cache="true">BERANDA</a>
        </p>
      </div>
      <div class="block">
        <p class="text-align-right">Belum punya akun? Silakan <a href="/register/" class="link"><strong>DAFTAR</strong></a> sekarang!</p>
      </div>
    </form>
  </div>
</div>
