<div class="page no-toolbar" data-name="detail" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Rincian</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title skeleton-text skeleton-effect-wave" data-label="lapid">No. XXX</div>
    <div class="card">
      <div class="card-header" data-label="lapjudul" style="font-weight:bold !important">Judul</div>
      <div class="list">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Kategori</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="lapkategori">--</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Status</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="lapstatus">--</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Diinput pada</div>
                <div class="item-after skeleton-text skeleton-effect-wave" data-label="createdon">--</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col margin-top" style="text-align: center">
        <img src="img/icon-aduan.png" width="44" data-label="icon" />
      </div>
      <div class="card-content card-content-padding skeleton-text skeleton-effect-wave" data-label="lapketerangan">____ _____ _____</div>
      <div class="col padding" style="text-align: center">
        <a href="#" data-label="btn-attachment" class="button button-raised button-round button-fill"><i class="far fa-paperclip"></i>&nbsp;LAMPIRAN</a>
        <!--<img width="80%" data-label="img" style="display: none" />-->
      </div>
    </div>
    <div class="block-title">Riwayat <a href="#" class="link float-right" data-label="btn-log" style="display: none"><i class="far fa-edit"></i>&nbsp;BUAT CATATAN</a></div>
    <div class="timeline skeleton-text skeleton-effect-wave" data-label="riwayat">
      <div class="timeline-item">
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-inner">
            <div class="timeline-item-time">12:12</div>
            <div class="timeline-item-text">Lorem Ipsum</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
