<div class="page no-toolbar" data-name="form" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Form</div>
      <div class="right">
        <a href="#" class="link" data-label="btn-submit">
          <i class="icon material-icons md-only">send</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <form data-label="form">
      <div class="block-header">Jenis Laporan</div>
      <div class="list skeleton-text skeleton-effect-wave" data-label="list-opt-tipe">
        <ul>
          <li>
            <label class="item-radio item-radio-icon-start item-content">
              <input type="radio" name="input-tipe" value="Lain-Lain" checked />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-title">Lain-Lain</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block-header">Isi Laporan</div>
      <div class="list no-hairlines-md">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Judul</div>
              <div class="item-input-wrap">
                <input type="text" name="input-judul" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Tanggal</div>
              <div class="item-input-wrap">
                <input type="date" placeholder="DD/MM/YYYY" name="input-tanggal" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input padding-bottom">
            <div class="item-inner">
              <div class="item-title item-label">Keterangan</div>
              <div class="item-input-wrap">
                <textarea name="input-keterangan" placeholder="Silakan uraikan laporan / aduan anda"></textarea>
              </div>
            </div>
          </li>
          <li class="item-content item-input padding-bottom">
            <div class="item-inner">
              <div class="item-title item-label">Lokasi (Opsional)</div>
              <div class="item-input-wrap">
                <textarea name="input-lokasi" placeholder="Silakan uraikan lokasi tempat kejadian, nama kelurahan / lingkungan"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block-header">Lampiran</div>
      <div class="list">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title" style="font-style: italic">
                  <span data-label="text-attachment-count" style="font-weight: bold;">0</span>&nbsp;LAMPIRAN DIMUAT
                </div>
                <div class="item-after">
                  <a href="#" class="link" data-label="btn-delete-attachment"><i class="far fa-times-circle"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li data-label="list-attachment">
            <input type="file" accept="image/*,video/*" name="file[]" data-label="input-file-blueprint" style="display: none" disabled />
          </li>
        </ul>
      </div>
      <div class="block">
        <a href="#" data-label="btn-file-upload" class="button button-raised button-round button-fill"><i class="far fa-plus-circle"></i>&nbsp;TAMBAH LAMPIRAN</a>
      </div>
    </form>
  </div>
</div>
