<div class="page no-navbar no-toolbar no-swipeback" data-name="register">
  <div class="page-content login-screen-content">
    <div class="login-screen-title">
      <img src="img/logo.png" width="44px" /><br />SAPA HASBIE
    </div>
    <div class="block" style="text-align: center"><b>S</b>istem <b>A</b>dministrasi <b>P</b>elaporan dan <b>A</b>duan yang <b>H</b>umanis, <b>A</b>spiratif, <b>S</b>imple, <b>B</b>erkelanjutan, <b>I</b>novatif dan <b>E</b>dukatif</div>
    <div class="block-title">Silakan isi form pendaftaran akun berikut.</div>
    <form>
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama</div>
              <div class="item-input-wrap">
                <input type="text" name="name" placeholder="Nama Lengkap" required validate data-validate-on-blur="true"  data-error-message="Harap isi nama anda."  />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">No. Handphone</div>
              <div class="item-input-wrap">
                <input type="number" name="phoneno" placeholder="08xxxxxxxxxx" required validate data-error-message="Harap isi nomor handphone anda." />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" placeholder="*****" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Konfirmasi Password</div>
              <div class="item-input-wrap">
                <input type="password" name="confirmpassword" placeholder="*****" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Alamat</div>
              <div class="item-input-wrap">
                <textarea placeholder="Alamat" name="address"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block">
        <p class="row">
          <button type="button" class="col button button-raised button-fill button-round button-submit"><i class="icon material-icons md-only">person_add</i>&nbsp;DAFTAR</button>
        </p>
      </div>
      <div class="block">
        <p class="text-align-right">Sudah punya akun? Silakan <a href="/login/" class="link"><strong>LOGIN</strong></a>.</p>
      </div>
    </form>
  </div>
</div>
