<div class="page no-toolbar" data-name="list" style="background-color: var(--f7-list-item-divider-bg-color);">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back" data-reload-current="true">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title" data-label="title">Daftar</div>
      <div class="right">
        <a href="#" class="link" data-label="link-add">
          <i class="icon material-icons md-only">add</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list skeleton-text skeleton-effect-wave" data-label="list-laporan">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="img/icon-skeleton.png" width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">___ ____</div>
              </div>
              <div class="item-subtitle">_____</div>
              <div class="item-text">_____ __ _____</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="img/icon-skeleton.png" width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">___ ____</div>
              </div>
              <div class="item-subtitle">_____</div>
              <div class="item-text">_____ __ _____</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
